@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

::selection,
::moz-selection {
  color: white;
  background-color: #b810db10;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Space Grotesk', serif;
  color: white;
  min-height: 100vh;
}

textarea::-webkit-scrollbar {
  display: none;
}
