@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  text-align: center;
}


input::placeholder, textarea::placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}